* text=auto eol=crlf

*.cs        text diff=csharp
*.axaml     text
*.csproj    text
*.props     text
*.sln       text eol=crlf
*.md        text
*.json      text
*.yml       text eol=lf
*.sh        text eol=lf

*.ico       binary
*.png       binary
*.jpg       binary
*.dll       binary
*.exe       binary
